name: DevSecOps Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Build Docker images
        run: docker compose build
      
      - name: Show images
        run: docker images
